/*------------------------------------*\
    #SLOGAN
\*------------------------------------*/

.slogan {
  color: #ffffff;
  background-color: #000000;
}

.slogan .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 115px;
}
.slogan p {
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.slogan a {
  display: block;
  weight: 300px;
  padding: 13px 48px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  background-color: #c29f4d;
  border-radius: 2px;
}

.slogan a:focus,
.slogan a:hover {
  background-color: #ffd062;
}

.slogan a:active {
  color: rgba(255, 255, 255, 0.5);
}

.slogan span {
  display: block;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
