*, *::before, *::after {
  outline: 1px dashed lightgrey;
}

html,
body {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: #8e8e8e;
  background-color: #ffffff;
}


/*------------------------------------*\
    #COMMON-ELEMENTS
\*------------------------------------*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-color: #6bdd6b;
}

img {
  max-width: 100%;
}

a {
  color: #d1aa50;
  text-decoration: none;
}

button {
  border: none;
  box-shadow: none;
}

input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 8px;
  padding: 10px;
  font-size: 13px;
  color: #1e1e1e;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 2px;
}

textarea {
  width: 100%;
  border-radius: 2px;
}


/*------------------------------------*\
    #COMMON-CLASSES
\*------------------------------------*/

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 11px;
  font-weight: 300;
  font-size: 27px;
  line-height: 27px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  letter-spacing: 0.75px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e1e1e;
  border-radius: 2px;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #353535;
}

.button:active {
  color: rgba(255, 255, 255, 0.5);
}

.accented {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.7px;
}

.accented span {
  color: #c29f4d;
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  padding: 18px 0 25px;
  color: #ffffff;
  background-color: #878c4c;
  background-image: url("../img/background-header.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

/*  #NAVIGATION  ---------------------*/

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 50px;
  margin: 16px 0 90px;
  padding: 0 110px;
  font-weight: 700;
  color: #ffffff;
  background-color: #c29f4d;
  list-style: none;
}

.navigation li {
  flex-grow: 1;
}

.navigation a {
  display: block;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  letter-spacing: -0.25px;
}

.navigation a:focus,
.navigation a:hover {
  background-color: #ffd062;
}

.navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*  #PROMO  --------------------------*/

.promo {
  display: flex;
  align-items: flex-start;
}

.promo-photo {
  margin-top: 40px;
  margin-right: 45px;
  margin-left: -35px;
}

.promo h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: -0.25px;
  text-transform: uppercase;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.promo span{
  color: #ffd062;
}

.promo-order {
  width: 376px;
  padding: 19px 38px 25px;
  background-color: #d1aa50;
}

.promo-order b {
  display: block;
  width: 100%;
  margin-bottom: 23px;
  padding-bottom: 14px;
  font-weight: 800;
  font-size: 32.7px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
}

.promo .button {
  margin: 3px 0 10px;
}

.promo-no-spam {
  position: relative;
  margin: 0;
  padding-left: 25px;
  font-style: italic;
  font-size: 8.5px;
}

.promo-no-spam::before {
  content: url("../img/no-spam.png");
  position: absolute;
  top: 0;
  left: 3px;
  width: 15px;
  height: 16px;
}


/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

.about {
  padding: 84px 20px 95px;
  text-align: center;
}

.about h2 {
  margin: 0 80px;
  padding-bottom: 9px;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #c29f4d;
  border-bottom: 2px solid #c29f4d;
}

.about p {
  max-width: 810px;
  margin: 24px auto;
}

.about .accented:last-of-type {
  margin: 40px auto 40px;
}

.about-products {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
}

.about-products li {
  position: relative;
}

.about-products li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 0.25s;
}

.about-products li:nth-child(1)::before {
  background-image: url("../img/product-1-full.png");
}

.about-products li:nth-child(2)::before {
  background-image: url("../img/product-2-full.png");
}

.about-products li:nth-child(3)::before {
  background-image: url("../img/product-3-full.png");
}

.about-products li:hover::before {
  z-index: 100;
  margin: -50%;
}

.about-products img {
  opacity: 0;
}


/*------------------------------------*\
    #BENEFITS
\*------------------------------------*/

.benefits {
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.13px;
  color: #ffffff;
  background-color: #878c4c;
  background-image: url("../img/background-benefits.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits .container {
  padding: 35px 20px 120px;
  background-image: url("../img/background-benefits-2.png");
  background-position: right 10px bottom;
  background-size: 314px 535px;
  background-repeat: no-repeat;
}

.benefits .wrapper {
  display: flex;
  margin-bottom: 82px;
  border-bottom: 2px solid #c29f4d;
}

.benefits-title {
  flex-shrink: 0;
  width: 340px;
  margin: 0;
  margin-right: 50px;
  padding: 10px 100px 16px 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #c29f4d;
  border-right: 2px solid #c29f4d;
}

.benefits-lead {
  flex-shrink: 1;
  padding: 6px 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.benefits p {
  max-width: 700px;
}

.benefits-list-caption {
  margin: 32px 0 21px;
  font-weight: 600;
  font-size: 16px;
}

.benefits-list-caption span {
  color: #c29f4d;
}

.benefits-list {
  display: flex;
  flex-flow: wrap column;
  align-content: flex-start;
  max-height: 90px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  list-style: none;
}

.benefits-list li {
  position: relative;
  margin-right: 35px;
  padding-left: 27px;
}

.benefits-list li::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 15px;
  border: 3px solid #c29f4d;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}


/*------------------------------------*\
    #HOW-TO-USE
\*------------------------------------*/

.how-to-use {
  padding: 90px 20px 25px;
  text-align: center;
}

.how-to-use .wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
  border-bottom: 2px solid #c29f4d;
}

.how-to-use-title {
  width: 340px;
  margin: 0;
  padding: 8px 0 16px 55px;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: left;
  color: #c29f4d;
  border-left: 2px solid #c29f4d;
}

.how-to-use-lead {
  width: 580px;
  margin-right: 40px;
  padding: 6px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.5px;
  text-align: left;
}

.how-to-use > p {
  max-width: 850px;
  margin: 0 auto 22px;
}

.how-to-use-list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  padding: 0;
  list-style: none;
  font-size: 14.5px;
  color: #909090;
}

.how-to-use-list li {
  width: 296px;
  padding: 26px 23px;
  background-color: #f1f1f0;
  box-shadow: 4px 4px 0 #e5e5e5;
}

.how-to-use-list li::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 25px;
  font-weight: 800;
  font-size: 36px;
  line-height: 75px;
  color: #ffffff;
  background-color: #707070;
  border-radius: 50%;
  box-shadow: 1px 3px 0 rgba(112, 112, 112, 0.4);
}

.how-to-use-list li:nth-child(1)::before {
  content: "1";
}

.how-to-use-list li:nth-child(2)::before {
  content: "2";
}

.how-to-use-list li:nth-child(3)::before {
  content: "3";
}








/**, *::before, *::after {
  outline: none;
}*/
